body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background: #102c43;
    padding: 10px 0;
    text-align: left;
	height: 60px; /* Adjust as per your logo's size */
}

.header-logo img {
    height: 60px; /* Adjust as per your logo's size */
	margin: 0 10px; /* Adds some space around the image */
	vertical-align: top; /* Align top with the navigation menu */
	position: fixed; 
	top: 10px; 
	right: 10px; 	
}

.company-info {
    text-align: center;
    padding: 20px;
}

.company-logo img {
    width: 250px; /* Adjust as per your logo's size */
}

footer {
    background: #3693bd;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* navigation */
        /* Add some basic styling to the menu */
#navMenu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block; /* Align with the image */
	vertical-align: top; /* Align top with the image */
}

#navMenu li {
	display: inline;
	margin-right: 10px;
	position: relative; /* Needed for positioning the dropdown */
}

#navMenu a {
	color: white;
	display: inline-block;
}

.top10 {
		z-index: 10
}

#navMenu a:hover {
	background-color: #3693bd;
}

/* Dropdown Menu */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Clear floats */
.clear {
	clear: both;
}

/********************************************/
#nav {
  list-style: none inside;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav li {
  display: block;
  position: relative;
  float: left;
  background: #102c43;
  /* menu background color */
}

#nav li a {
  display: block;
  padding: 0;
  text-decoration: none;
  width: 200px;
  /* this is the width of the menu items */
  line-height: 35px;
  /* this is the hieght of the menu items */
  color: #ffffff;
  /* list item font color */
}

#nav li li a {
  font-size: 80%;
}

/* smaller font size for sub menu items */

#nav li:hover {
  background: #3693bd;
}


/* highlights current hovered list item and the parent list items when hovering over sub menues */

#nav ul {
  position: absolute;
  padding: 0;
  left: 0;
  display: none;
  /* hides sublists */
}

#nav li:hover ul ul {
  display: none;
}


/* hides sub-sublists */

#nav li:hover ul {
  display: block;
}


/* shows sublist on hover */

#nav li li:hover ul {
  display: block;
  /* shows sub-sublist on hover */
  margin-left: 200px;
  /* this should be the same width as the parent list item */
  margin-top: -35px;
  /* aligns top of sub menu with top of list item */
}


a {
	text-decoration: none;
}

/* Style for the image to align it to the right */
.right-aligned-img {
	/*  float: right; Aligns the image to the right */
	margin: 0 10px; /* Adds some space around the image */
	vertical-align: top; /* Align top with the navigation menu */
	position: fixed; 
	top: 10px; 
	right: 10px; 	
}
